@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@import "partials/variables";
@import "partials/contacto";


html {
    overflow-x: hidden;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    nav {
        .logoPrincipal {
            @include flexbox (row, flex-end, 40%)
        }
        ul {
            list-style-type: none;
            color: black;
            font-size: 22px;
            font-weight: bold
        }
        .nav-link:hover {
            color: blueviolet;
            font-size: 24px;
        }
    }
}

h1{
    color: $colorlila;
    .sesgar{
        transform: skew(20deg,10deg);
    }
}

.card {
    width: 250px;
    padding: .8em;
    border-radius: 1rem;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   
   .card-img {
    height: 20%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 5%;
    .text-body {
        font-size: .9em;
        padding-bottom: 5px;
       }
    .text-title {
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1.5;
    }
   }
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    .oferta{
        text-decoration:line-through;
        color: red;
    }
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   .card-button:hover {
    border: 1px solid $colorlila;
    background-color: violet;
   }
   svg {
    width: 20px;
    height: 20px;
   }
}
}

h2 {
    font-size: 1.5rem;
    color: $colorlila;
    text-align: center;
}

footer {
    nav {
        .container {
            .logoPrincipal {
               @include flexbox(row, flex-end, 40%)
            }
        }
        ul {
            li {
                list-style-type: none;

                .nav-link {
                    img {
                        width: 50px;
                    }
                }
                .nav-link:hover {
                    width: 80px;
                }
         }
        }
    }
}