@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

html{
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logoPrincipal{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: flex-end;
}

header nav ul {
    list-style-type: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

h1{
    color: #674188;
}

h2{
    font-size: 1.5rem;
    color: #674188;
}
.carru img{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
   
}

.contenidoPrincipal ul{
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.contenidoPrincipal img{
    width: 250px;
    justify-content: space-between;
}

.mapa h2{
    text-align: center;
}

footer nav ul img{
    list-style-type: none;
    width: 50px;
}
.contacto img{
    width: 5%;
    margin: 25px;
}
 .nav-link img{
width: 50px;
 }

